<footer id="footer">
  <div id="footer-info">Hexo <%= version %></div>
  <a href="http://zespia.tw/hexo/docs/" class="footer-link" target="_blank">Documentation</a>
  <a href="https://github.com/tommy351/hexo" class="footer-link" target="_blank">GitHub</a>
</footer>