#footer
  clearfix()
  padding 50px 0 0
  color color-meta
  font-size 0.9em

#footer-info
  float left

.footer-link
  color color-meta
  text-decoration none
  float left
  margin-left 10px
  padding-left 10px
  border-left 1px solid #ddd
  &:hover
    text-decoration underline
    color #333