#header
  clearfix()

#header-title
  font-size 30px
  line-height 30px
  font-weight 300
  text-transform uppercase
  float left
  color #999
  text-shadow 1px 1px #fff

#header-message
  float right
  color color-meta
  margin 0 20px 0 0
  font-size 0.9em
  line-height 36px

#header-buttons
  float right

.header-button
  float left
  margin 0 0 0 20px

#new-post-button
  &:before
    content "\f067"